@keyframes showModalSmall {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showModalLarge {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  padding: 10vh 0 0 0;
  z-index: 1000;
}

.open {
  opacity: 1;
  visibility: visible;
}

.modalContainerSmall {
  background: #fff;
  width: 400px;
  height: 80vh;
  margin: 0 auto;
  position: absolute;
  right: 30px;
  border-radius: 10px;
  animation: showModalSmall 1s ease-in;
  overflow-y: scroll;
}

.open .modalContainerSmall {
  transform: translateX(0);
}

.modalContainerLarge {
  position: relative;
  background: #fff;
  width: 800px;
  height: 80vh;
  margin: 0 auto;
  border-radius: 10px;
  animation: showModalLarge 0.8s ease-in;
}

.closeButton {
  position: absolute;
  left: 10px;
  background: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
}
