@keyframes showModal {
    0% {
        opacity: 0;
    } 50% {
        opacity: 0.5;
    } 100% {
        opacity: 1;
    }
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  padding: 10vh 0 0 0;
  z-index: 1000;
}

.open {
  opacity: 1;
  visibility: visible;
}

.modalContainer {
  background: #fff;
  width: 400px;
  height: 80vh;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  animation: showModal 1s ease-in;
}

.open .modalContainer {
  transform: translateX(0);
}

.closeButton {
  position: absolute;
  left: 10px;
  background: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

