@keyframes showModal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  padding: 10vh 0 0 0;
  z-index: 1000;
}

.open {
  opacity: 1;
  visibility: visible;
}

.modalContainer {
  background: #fff;
  width: 800px;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  animation: showModal 0.5s ease-in;
}

.open .modalContainer {
  transform: translateX(0);
}

.closeButton {
  position: absolute;
  left: 10px;
  background: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
}
