.pizza_card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 18px;
    min-height: 400px;
    max-width: 290px;
    outline: 3px solid white;
    border-radius:15px;
}